.filter-container {
  display: flex;
  align-items: center;
  gap: 16px;

  .filter-field {
    flex: 1;
  }

  .date-filter {
    display: flex;
    gap: 8px;
  }

  .date-filter button {
    align-self: flex-end;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;


    padding: 25px 40px 25px 40px;
    background: transparent;
    color: black;
    margin-bottom: 24px;
  }

  mat-form-field{
    margin-bottom: -16px;
  }

}
