.container-forms {
  position: fixed;
  height: 100%;
  width: 30%;
  z-index: 101;

  background: #fafafa;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);

  .toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;

    #title {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 17px;
      color: #CC092F;
      padding-left: 12px;
    }

    button {
      background: none;
      border: none;
      text-decoration: none;
      cursor: pointer;

      padding-right: 12px;


      mat-icon {
        font-size: 24px;
        color: #CC092F;
      }
    }

    border-bottom: 1px solid black;
  }

  .content-forms-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;


    form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      mat-form-field {
        width: 100%;
      }

      .field-group {
        display: flex;
        gap: 16px;

        mat-form-field {
          flex: 1;
        }
      }

      button[type="submit"] {
        align-self: flex-end;
        margin-top: 20px;
        border: none;
        border-radius: 0;
        text-decoration: none;
        cursor: pointer;

        padding: 0 40px 0 40px;
        background: #CC092F;
        color: white;
      }
    }
  }
}
